<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <form class="form-inline item_op" action="/index2.html/" >
    <input class="form-control ml-sm-2" type="text" placeholder="Feature" name="feature">
      <input class="form-control ml-sm-2" type="text" placeholder="Index" name="index">
      <input class="form-control ml-sm-2" type="text" placeholder="Value" name="value">

    <button class="btn btn-primary ml-sm-2" type="submit" name="button" value="item">Item History</button>
      <button class="btn btn-primary ml-sm-2" type="submit" name="button" value="record">Record History</button>

  </form>

</nav>



</body>
</html>