
/* This sets the color for "TK" nodes to a light blue green. */
g.activity > ellipse {
  fill: #EE220C;
}
g.columns > rect{
fill: #62CF3C;
}


text {
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  fill:#FFFFFF
}

.node rect {
  stroke: #fff;
  fill: #00A2FF;
  stroke-width: 0.5px;
}
.node ellipse {
  stroke: #fff;
  fill: #00A2FF;
  stroke-width: 0.5px;
}


.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}
